<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit a plant</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
		<h1>Edit a plant</h1>
			<form th:object="${plant}" th:action="@{../save}" action="#" method="post">
				<input type="hidden" th:field="*{plantId}" />
				
				<label for="engname">English name</label>
				<input type="text" id="engname" th:field="*{engName}"  />
			
		  		<label for="latname">Latin name</label>
				<input type="text" id="latname" th:field="*{latName}"  />
			
		  		<label for="finname">Finnish name</label>
		  		<input type="text" id="finname" th:field="*{finName}"  />
			
				<label for="waterlist">Watering need</label>
			 	<select id="waterlist" th:field="*{wtype}">
       				<option th:each="wtype: ${wtypes}" th:value="${wtype.waterId}" th:text="${wtype.name}"></option>
    			</select>
    			
    			<label for="lightlist">Light condition</label>
			 	<select id="lightlist" th:field="*{ltype}">
       				<option th:each="ltype: ${ltypes}" th:value="${ltype.lightId}" th:text="${ltype.name}"></option>
    			</select>
    			
    			<label for="ferlist">Fertilizing frequency</label>
			 	<select id="ferlist" th:field="*{ftype}">
       				<option th:each="ftype: ${ftypes}" th:value="${ftype.fertilizerId}" th:text="${ftype.name}"></option>
    			</select>
				
				<label for="repotdate">Repotted last</label>
				<input type="date" id="repotdate" th:field="*{repotDate}" />

				<label for="note">Notes or specifications</label>
		  		<input type="text" id="note" th:field="*{note}"  />
				
				<input type="submit" value="Save">
			</form>
</body>
</html>