<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Plants</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 0px;
			}
			th, td {
				padding: 10px;
			}
		</style>
	</head>
	<body>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" style="float:right"/>
	</form>
	<h1>Houseplant Extravaganza</h1>
	<h3 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]</h3>
	
		<table>
			<thead>
				<tr>
					<th>English name</th>
					<th>Latin name</th>
					<th>Finnish name</th>
					<th>Water</th>
					<th>Light</th>
					<th>Fertilizer</th>
					<th>Repotted last</th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plant : ${plants}">
					<td th:text="${plant.engName}"></td>
					<td th:text="${plant.latName}"></td>
					<td th:text="${plant.finName}"></td>
					<td th:text="${plant.wtype.name}"></td>
					<td th:text="${plant.ltype.name}"></td>
					<td th:text="${plant.ftype.name}"></td>
					<td th:text="${plant.repotDate}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${plant.plantId})}">Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${plant.plantId})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		
		<a sec:authorize="hasAuthority('ADMIN')" href="/addplant">Add a plant</a>
		<a sec:authorize="hasAuthority('ADMIN')" href="/types">Edit types</a>
		<a sec:authorize="hasAuthority('ADMIN')" href="/addtypes">Add types</a>
		
	</body>
</html>