<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Types</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      		crossorigin="anonymous"/>
	</head>
	<body>
		<div class="container">
			<form th:action="@{/logout}" method="post" style="float: right" class="mt-3">
				<div class="form-row align-items-center">
				  <div class="col-auto">
					<h3 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]</h3>
				  </div>
				  <div class="col-auto">
					<button type="submit" class="btn btn-primary ml-3">Sign out</button>
				  </div>
				</div>
			</form>
			<h1 class="my-5 display-4">Edit/Add care types</h1>
			<a class="btn btn-info mt-2" href="/cancel">Back to plants</a>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-sm table-responsive-lg table-bordered table-hover my-4">
						<thead class="thead table-info">
							<tr>
								<th>Watering type</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="wtype : ${wtypes}">
								<td th:text="${wtype.name}"></td>
								<td class="text-center"><a th:href="@{/types/{id}(id=${wtype.waterId})}">Edit</a></td>
							</tr>
						</tbody>
					</table>
					<form th:object="${wtype}" th:action="@{../savewater}" action="#" method="post">
						<div class="form-group">
							<input type="hidden" th:field="*{waterId}" />
							<label for="watertype">Watering type: </label>
							<input type="text" class="form-control" id="watertype" th:field="*{name}" required/>	
						</div>
						<div class="form-row">
							<div class="form-group col-md-auto">
								<input type="submit" class="btn btn-info mb-0" value="Save watering">
							</div>
							<div class="form-group col-md-auto">
								<a class="btn btn-secondary" href="/canceledit">Cancel edit</a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-4">
					<table class="table table-sm table-responsive-lg table-bordered table-hover my-4">
						<thead class="thead table-info">
							<tr>
								<th>Fertilizing type</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ftype : ${ftypes}">
								<td th:text="${ftype.name}"></td>
								<td class="text-center"><a th:href="@{/types/{id}(id=${ftype.fertilizerId})}">Edit</a></td>
							</tr>
						</tbody>
					</table>
					<form th:object="${ftype}" th:action="@{../savefertilizer}" action="#" method="post">
						<div class="form-group">
							<input type="hidden" th:field="*{fertilizerId}"  />
							<label for="fertilizertype">Fertilizer type: </label>
							<input type="text" class="form-control" id="fertilizertype" th:field="*{name}" required/>	
						</div>
						<div class="form-row">
							<div class="form-group col-md-auto">
								<input type="submit" class="btn btn-info mb-0" value="Save fertilizer">
							</div>
							<div class="form-group col-md-auto">
								<a class="btn btn-secondary" href="/canceledit">Cancel edit</a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-4">
					<table class="table table-sm table-responsive-lg table-bordered table-hover my-4">
						<thead class="thead table-info">
							<tr>
								<th>Light type</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ltype : ${ltypes}">
								<td th:text="${ltype.name}"></td>
								<td class="text-center"><a th:href="@{/types/{id}(id=${ltype.lightId})}">Edit</a></td>
							</tr>
						</tbody>
					</table>
					<form th:object="${ltype}" th:action="@{../savelight}" action="#" method="post">
						<div class="form-group">
							<input type="hidden" th:field="*{lightId}" />
							<label for="lighttype">Light type: </label>
							<input type="text" class="form-control" id="lighttype" th:field="*{name}" required/>
						</div>
						<div class="form-row">
							<div class="form-group col-md-auto">
								<input type="submit" class="btn btn-info mb-0" value="Save lighting">
							</div>
							<div class="form-group col-md-auto">
								<a class="btn btn-secondary" href="/canceledit">Cancel edit</a>
							</div>
						</div>
					</form>
				</div>
				
		</div>
	</body>
</html>